<section id="todoapp">
  <header id="header">
    <h1>todos</h1>
      <%= form_for TodoItem.new, method: :post, remote: true do |f| %>
        <%= f.text_field :title, id:'new-todo', placeholder: 'What needs to be done?', autofocus: true  %>
      <% end %>
  </header>
  <section id="main">
    <ul id="todo-list">
      <% @todo_items.each do |item| %>
        <%= render partial: 'todo_item', locals: {item: item} %>
      <% end %>
    </ul>
  </section>
  <footer id="footer">
    <button id="clear-completed">Clear completed</button>
  </footer>
</section>